.accueil{
    background-image:linear-gradient(0deg, rgba(221, 229, 236, 0.37), rgba(210, 241, 247, 0.445)) ,url('background.jpeg');
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: -30px !important;
}
.k{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    text-transform: capitalize;
    background-size: 200px;
    
}

.lettre{
    margin-top: 30px !important;
}

a#k::first-letter {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #0d6efd;
    border-radius: 100%;
    color: #f8f9fa;
  }
  .card:hover{
	background-color: #007BFF;
	color: white;
}